.app-main {
  background-image: url('/src/assets/img/bg.jpg');

  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: $tablet-width) {
      padding: 40px;
    }
  }
}
